.header {
  background: #2a4d69;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 60px 0;
  }
}

.header__logo {
  background: center/ contain url(/logo.png) no-repeat;
  height: 103px;
  text-indent: -9999em;
  width: 200px;
}

@media only screen and (min-width: 768px) {
  .header__logo {
    height: 155px;
    width: 300px;
  }
}
