.mainHeader {
  width: 100%;
  background: #2a4d69;
  padding: 40px 0;
}

@media only screen and (min-width: 768px) {
  .mainHeader {
    padding: 60px 0;
  }
}

.logo {
  background: url(/logo.png) no-repeat;
  background-size: contain;
  display: block;
  width: 200px;
  height: 103px;
  text-indent: -9999em;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 300px;
    height: 155px;
  }
}
