.introduction {
  padding: 40px 0;
  background: #4b86b4;
}

.introduction__text {
  font-size: 18px;
  line-height: 26px;
}

.more {
  background: #4b86b4;
  color: #e7eff6;
  display: block;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 28px;
  padding: 40px 0;
  text-transform: uppercase;
  width: 100%;
}

.list {
  background: #adcbe3;
  color: #2a4d69;
  padding: 20px 0 30px 0;
}

.screenshots {
  text-align: center;
}

.screenshots__image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .more {
    font-size: 20px;
    line-height: 28px;
    padding: 80px 0;
  }

  .list {
    padding: 30px 0 50px 0;
  }
}
